POSTGRES_USER=documind
POSTGRES_PASSWORD=acfc096d8a1a7134b404d1c317bf0a89
POSTGRES_DB=documind
DATABASE_URL=postgresql+asyncpg://documind:acfc096d8a1a7134b404d1c317bf0a89@postgres:5432/documind
REDIS_URL=redis://redis:6379/0
JWT_SECRET_KEY=generate-to-32
